includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
	level: 5

	excludes_analyse:
		- /tests/_*
		- /db/*

	fileExtensions:
		- php

	ignoreErrors:
		# App/Model/Database/TRepositories
		- '#Method App\\Model\\Database\\EntityManager::get[a-zA-Z]+Repository\(\) should return App\\Model\\Database\\Repository\\[a-zA-Z]+ but returns Doctrine\\ORM\\EntityRepository<App\\Model\\Database\\Entity\\[a-zA-Z]+>.#'

